<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="id_activecampaign" frontName="id_activecampaign">
            <module name="ID_ActiveCampaign" before="Magento_Backend"/>
        </route>
    </router>
</config>